html {
  font-size: .9rem;
}

body { 
    background: url("./backgroundImage.jpg") repeat fixed center; 
}

/* 
.whiteLink{
    color: white;
} */

.testBorder{
    border: 1px solid black;
}

.testBorderWhite{
    border: 1px solid white;
}

#mainContainer{
    
}

#fixedTopNav{
    height: 60px;
    width: 100%;
    position: fixed;
    background: url(./lighterBackground.jpg) repeat-x left top ; 
    background-size: contain;
    color: white;
    margin-bottom: auto;
    z-index: 2;
}

.navLink{
   /* background: url(./darkerBackground.png) repeat-x left top ;  
   background-size: 100%;
   margin-right: 5px; */
   font-family:  Arial, Helvetica, sans-serif;
   font-size: 1.2vw;
   text-transform: uppercase;
   white-space: nowrap;
}

#darkNav{
    height: 100%;
    width: 100%;
    z-index: 2;
    background: none;
}

#navbarNav{
   
    height: 80%;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-brand{
    background-color: inherit;
    margin-top: 1%;
}

#collapseButton{
    color: white;
}


#phoneNumber{
    font-size: 2rem;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
}



#topNavLinkList{
    background-color: #333333
}

#subNavRow{
    position: fixed;
    margin-top: 55px;
    z-index: 1;
    width: 100%;
}

#subNavLinksRow{
    height: 100%;
}


.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
     margin-top: 0px;
}

#logoCol{
    position: fixed;
    background-image: url("./logo_stuff/image_border.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    margin-top: 25px;
    z-index: 3;
    height: 100px;
    text-align: center;
    padding: 5px;
}



#logoBorder{
    position: relative;
    width: 100%;
    top: -26%;

}

#logoImage{
    margin-top: 4%;
    height: 60%;
    width: 80%;
    z-index: 1;
}

#formContainer{
    margin-right: -17%;
}

#linksContainerSubNav{
    
    display: block;
}


.subNavLink{
    display: inline;
}

#slideShowRow{
    height: auto;
    overflow: hidden;
    margin: 0;
}

#slideShowCol{
    position: relative;
    padding: 0;
    margin-top: 85px;
}

.rowLinkCol{
    text-align: center;
    height: 50px;
    margin-right: 1%;
    background-color: white;
    white-space: nowrap;
    border: 2px solid lightslategrey;
    border-radius: 5px;
    padding: 1%;
}

#linksAndContentRow{
    height: 35%;
    margin: 0;
    margin-top: 2%;
}

.rowLinkWrap{
        font-size: .8vw;
        font-weight: bold;
    }

.rowLinkCol:hover{
        background-color: black;
        color: white;
    }
.navItemRow:hover{
    background-color: gray;
}    
    

#buttonColumn{
    text-align: center;
    height: 100%;
}

.arrowDownImage{
    max-width: 100%;
    margin-top: 7px;
}

#selectRepForm{
    
}

#textColumn{
    padding: 0;
}

#welcomeParagraph{
    word-wrap: break-word;
    text-align: center;
    height: auto;
    vertical-align: top;
    font-size: 1.2vw;
}

#paragraphWelcomeMessage{
    font-size: 3vw;
    font-weight: bold;
}

.navbar-toggle.collapsed .icon-bar .navbar-dark {
  color : white !important;
}


#selectRepFormselector{
  width: 35%;
}

#submitButtonGray{
}

@media all and (min-width : 993px){
    .rowLinkCol{
        padding: 0;
        
    }
    #phoneNumber{
        font-size: 2rem;
    }
}

@media all and (min-width : 1178px){
    .rowLinkCol{
        padding: 2%;
        
    }
}

@media all and (min-width : 1700px){
    .rowLinkCol{
        padding: 2%;  
    }
    #fixedTopNav{
        height: 90px;
    }
    #subNavRow{
        margin-top: 80px;
    }
}

@media all and (max-width: 1177px) and (min-width: 993px) { 
    html {
        font-size: 1.6rem;
    }

    #darkNav{
        font-size: .3rem;
    }

    #phoneNumber {
        font-size: 1rem;
    }

 } 

 
@media all and (max-width: 992px) { 
    html {
        font-size: .9rem;
    }
    .rowLinkCol{
        height: 40px;
        
    }
    .buttonRow{
        margin-bottom: 10%;
    }
 } 
@media all and (max-width: 768px) { 
     html {
        font-size: .8rem;
    }
    .navLink{
        font-size: 1.2vw;
    }
    .rowLinkCol{
        height: 35px;
    }
 } 
@media all and (max-width: 575px) {
    html {
        font-size: .7rem;
    }
    .rowLinkCol{
        height: 30px;
        border: 1px solid black;
    }
    
    #phoneNumber{
        font-size: 1.5rem;
    }
}

@media all and (max-width: 460px) {
    html {
        font-size: .7rem;
    }
    .rowLinkCol{
        height: 30px;
    }
    #logoCol{
        height: 75px;    
    }
    .buttonRow{
        margin-bottom: 40%;
    }
}